@page
@model LibraryBooks.Pages.Books.CreateModel
@{
	ViewData["Title"] = "Add New Book";
}

<h2>Добавить новую книгу</h2>
<form method="post">

	<div>
		<input asp-for="Input.Title" type="text" placeholder="Title" />
		<span asp-validation-for="Input.Title"></span>
	</div>
	
	<div>
		<input asp-for="Input.Author" type="text" placeholder="Author" />
		<span asp-validation-for="Input.Author"></span>
	</div>

	<div>
		<input asp-for="Input.Genre" type="text" placeholder="Genre"  />
		<span asp-validation-for="Input.Genre"></span>
	</div>
	
	<button type="submit">Добавить</button>
</form>
 