<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <title>Библиотека книг</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <h1>Библиотека книг</h1>
        <nav>
            <a asp-page="/Index">Главная</a> |
            <a asp-page="/Books/Index">Книги</a>
            <a asp-page="./Create">Добавить новую книгу</a>
        </nav>
        <hr />
    </header>

    <main role="main" class="pb-3">
        @RenderBody()
    </main>

    <footer>
        <hr />
        <p>&copy; 2025 Library Of Books</p>
    </footer>
</body>
</html>
